<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0"

    </head>
    
    <body style="align-items: center; justify-content: center; background-color: lightgray; display: flex; flex-direction: column;">
        <header style="background-color: black; color: white;padding: 20px;text-align:left; width: 100%;">
            <img src=src\assets\wcp-logo.svg alt="wcp-logo" style="max-width: 100%; height: auto"/>
        </header>
        <div style="text-align: center;">
            <h1>
                <strong>WCP Solutions</strong>
                <br>
                <span style="font-weight: normal;">Login To Access The Customer Look-Up Tool</span>
                
            </h1>
        </div>
        <div class="input-container" style="background-color: white; padding: 20px; border-radius: 5px; box-shadow: 0 1px 5px rgba(0, 0, 0, 0.1); width: 40%; margin-top: 20px; text-align: left;">
            <h1>Email</h1>
            <input type="Email" placeholder="email" style="width: 100%;font-size: medium;">
            <br>
            <h2>Password</h2>
            <input type="Password" placeholder="password" style="width: 100%;font-size: medium;">
            <div class="Sign-in Button" style="background-color: black;border-radius: 4px; margin-top: 10px;">
                <button type="submit" style="background-color: black; color: white;border: none;padding: 10px;width: 100%;cursor: pointer;">Sign in</button>
            </div>

        </div>
    </body>
</html>